.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.shimmer-container{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
}

.shimmer-logo{
    width: 100%;   
    height: 140px;
    border-radius: 15px;
    box-shadow: 5px 5px 2px rgb(227, 227, 227);
}

.shimmer-card{
    padding: 2px;
    width: 200px;
    margin: 5px;
    margin-bottom: 120px;
    height: 250px;
    /* background-color: rgb(247, 247, 247); */
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(231, 231, 231);}
  }

  @keyframes example {
    0%   {background-color: rgb(255, 255, 255);}
    25%  {background-color: rgb(231, 231, 231);}
    50%  {background-color: rgb(255, 255, 255);}
    100% {background-color: rgb(231, 231, 231);}
  }
.resCard{
    padding: 2px;
    width: 200px;
    margin: 5px;
    height: 350px;
    /* background-color: lightblue; */
}

.resCard .restroName{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
}

.resCard .cuisines{
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}

.resCard:hover{
    cursor: pointer;
    scale: 0.95;
}

.res-logo{
        width: 100%;
        height: 140px;
        border-radius: 15px;
        box-shadow: 5px 5px 2px rgb(227, 227, 227);
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 0px 10px;
    margin: 10px;
}

.search{
    padding: 10px;
}
.sub-header{
    display: flex;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter_btn{
    margin: 5px;
}

@media screen 
and (max-width:768px){
.resCard{
    background-color: brown;
}
}
